<div class="main-container">
  <div class="content-box">
    <h1>ברוך הבא למערכת ניהול הקורסים שלנו!</h1>
    <p class="project-description">
      המערכת שלנו מיועדת למורים ולסטודנטים כאחד, ומספקת פתרון שלם ונוח לניהול והשתתפות בקורסים אונליין. כאן תוכלו ליצור ולנהל קורסים, להירשם לקורסים חדשים, ולגשת לחומרי לימוד בצורה פשוטה ונגישה.
    </p>
    <div class="features">
      <h3>מה תמצאו כאן?</h3>
      <ul>
        <li>יצירת קורסים בקלות – מורים יכולים להוסיף קורסים חדשים בקלות ולהתאים את החומרים הלימודיים לכל תלמיד</li>
        <li>הירשמות לקורסים – סטודנטים יכולים להירשם לקורסים מכל תחום ולהתחיל ללמוד מתי שנוח להם</li>
        <li>ניהול חומרים ולמידה – המערכת מאפשרת גישה לחומרים לימודיים, תרגולים, מבחנים, ומשימות – כל מה שתצטרכו כדי להצליח</li>
        <li>גישה מותאמת אישית – כל משתמש מקבל חוויה מותאמת אישית, סטודנטים יכולים לעקוב אחרי קורסים שהם רשומים אליהם, ומורים יכולים לעקוב אחרי ההתקדמות של תלמידיהם</li>
      </ul>
    </div>
    <div class="benefits">
      <h3>למה כדאי להשתמש במערכת שלנו?</h3>
      <ul>
        <li>נוחות וגמישות – לימודים אונליין בצורה חכמה, זמינה ונוחה מכל מקום ובכל זמן.</li>
        <li>שקיפות – סטודנטים ומורים יכולים לעקוב אחרי התקדמותם ולנהל את הזמן בצורה מיטבית.</li>
        <li>מערכת אינטראקטיבית – מאפשרת חווית למידה עשירה עם תרגולים, מבחנים ומשימות.</li>
      </ul>
    </div>
    <button mat-button class="start-button" (click)="navigateTo()">התחל עכשיו</button>
  </div>
</div>
