.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.login-card {
  width: 350px;
  padding: 20px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  width: 100%;
}

.eror-message {
  color: red;
  margin: 90px;
}
.mat-mdc-form-field-bottom-align::before{
  margin-top: 5px;
}
