<div class="container-page">
    <button mat-icon-button (click)="toggleSidebar()" class="menu-button">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="side" [(opened)]="isSidebarOpen" class="sidebar" [class.expanded]="isSidebarOpen">
            <mat-nav-list>
                <a mat-list-item routerLink="login-and-register" >
                    <span class="menu-text">התחברות ורישום</span>
                    <mat-icon class="menu-icon">home</mat-icon>
                </a>
                <a mat-list-item routerLink="courses">
                    <span class="menu-text">קורסים</span>
                    <mat-icon class="menu-icon">school</mat-icon>
                </a>
                @if(isTeacher()){
                    <a mat-list-item routerLink="/manage-courses">
                        <span class="menu-text">הוספת קורס</span>
                        <mat-icon class="menu-icon">manage_accounts</mat-icon>
                    </a>
                }
            </mat-nav-list>
        </mat-sidenav>
       <router-outlet/>
    </mat-sidenav-container>
</div>
